<!DOCTYPE html>
<html lang="en">
<title>Online Storage system </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">


<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-blue w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64 w3-allerta"><b>Online Storage System</b></h3>
  </div>
  <div class="w3-bar-block">
    <a href="#services" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white w3-allerta">Services</a>
    <a href="#packages" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white w3-allerta">Operations</a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-blue w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-blue w3-margin-right" onclick="w3_open()">☰</a>
<!--  <span>Company Name</span>-->
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">



<!--  //////////////////-->

<!--  switch button-->
  <style>
.button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-style: oblique;
  margin: 4px 2px;
  cursor: pointer;
}
.w3-lobster {
  font-family: "Lobster", serif;
}
.w3-allerta {
  font-family: "Allerta Stencil", italic;
}

</style>

<div>
   <form method="post" action="/main">
    <input type="submit" class="button" value="Switch" name="2">
  </form>
  </div>
<!--//////////////////-->



  <!-- Services -->
  <div class="w3-container  w3-allerta" id="services" style="margin-top:75px">
    <h1 class="w3-allerta w3-text-blue"><b>Services.</b></h1>
    <hr style="width:50px;border:5px solid blue" class="w3-round">
    <p>This system enable you to :</p>


<ul>
  <li >Search Products, Customers and Transactions Details.</li>
  <li>Add Products, Customers and latest transactions to the database.</li>
  <li>more features can be added upon request.</li>
</ul>
  </div>



  <!-- Customers, Products , Transactions sections  -->
  <div class="w3-container" id="packages" style="margin-top:75px">
    <h1 class="w3-allerta w3-text-blue"><b>Operations.</b></h1>
    <hr style="width:50px;border:5px solid blue" class="w3-round">
    <p></p>
  </div>

  <div class="w3-row-padding">
    <div class="w3-half w3-margin-bottom">

      <ul class="w3-ul w3-light-grey w3-center">
        <li class="w3-dark-grey w3-allerta w3-padding-32">Customers related operations</li>
<!--        <li class="w3-padding-16">Search Customers </li>-->
<!--        <li class="w3-padding-16">add Customers </li>-->


        <a class="w3-padding-16 w3-allerta"  href="{{ url_for('search_customer') }}"><li class="w3-padding-16">Search Customers</li></a>
      <a class="w3-padding-16 w3-allerta"  href="{{ url_for('add_customer') }}"><li class="w3-padding-16">add Customers</li></a>
<!--        <li class="w3-light-grey w3-padding-24">-->
<!--          <button class="w3-button w3-white w3-padding-large w3-hover-black">Sign Up</button>-->
<!--        </li>-->
      </ul>
    </div>
    <div class="w3-half">
      <ul class="w3-ul w3-light-grey w3-center">
        <li class="w3-blue w3-allerta w3-padding-32">Products related operations</li>

<!--    <p> <a href="localhost:5000/search-products">Search Products</a>.</p>-->
      <a class="w3-padding-16 w3-allerta"  href="{{ url_for('search_product') }}"><li class="w3-padding-16">Search Products</li></a>
        <a class="w3-padding-16 w3-allerta" href="{{ url_for('add_product') }}"><li class="w3-padding-16">add Products</li></a>

      </ul>
    </div>


      <div class="w3-half"><br>
      <ul class="w3-ul w3-light-grey w3-center">
        <li class="w3-blue w3-allerta w3-padding-32">Transactions History and related operations </li>
        <a class="w3-padding-16 w3-allerta"  href="{{ url_for('search_tran') }}"><li class="w3-padding-16">Search Transactions</li></a>
      <a class="w3-padding-16 w3-allerta"  href="{{ url_for('add_tran') }}"><li class="w3-padding-16">add Transactions</li></a>
<!--      <a class="w3-padding-16"  href="{{ url_for('search_product') }}"><li class="w3-padding-16">Search Products</li></a>-->

<!--        <li class="w3-padding-16">Search Transactions</li>-->
<!--        <li class="w3-padding-16">add transactions</li>-->
<!--        <li class="w3-padding-16">Transactions History</li>-->

      </ul>
    </div>
<!--    Main div -->
  </div>


<!--  Credits-->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right">Created By Taj Saleh || 2020  </p></div>


<!-- End page content -->
</div>


<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>

</body>
</html>
